@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;  
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 5vw;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; 
    /*
     transforma tudo que estiver nessa função em maiúsculo
     */
    font-family: var(--fonte2);
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    /*
    função de estilizar um elemento quando se passa o mouse por cima HOOOOOOVER!!!!
    */
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* 
    aqui criamos esse espaço nas sessões para que dê para fazer o parallax 
    */
    line-height: 2em;
    /*
    espaçando as letras para uma melhor leitura
    */
    padding-left: 30px;
    /*
    tirando as frases do canto esquerdo da tela para não ficar muito coladas lá
    */
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(37, 35, 35);
    color: white;

}

section.imagem > p {
    display: inline-block;
    /*
    para a caixa ficar "presa", se adptando ao tamanho do seu conteúdo
    */
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.432);
    /*
    para onde for pasasr a imagem do parallax, não sumir o paragráfo (letras)
    */
}

footer {
    background-color: #000000;
    color: white;
    text-align: 10px;
    padding: 10px;
}

